<div class="card">
  <!-- Start of the card header with flexbox and justified space between -->
  <div class="card-header flex-row justify-space-between">
    <!-- Heading for the post title -->
    <h2>
      <!-- Link to the post page with the post's ID -->
      <a href="/post/{{id}}">
        <!-- Display the post title with a column width of 8 -->
        <div class="col-8">{{postTitle}}</div>
      </a>
    </h2>
    <!-- Display the post author's username and creation date -->
    <div class="col-3">posted by
      {{user.username}}
      on
      {{format_date dateCreated}}</div>
  </div>
  <!-- Close the card header section -->

  <!-- Display the post content in the card body -->
  <p class="card-body">{{postContent}}</p>
</div>